<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ASR Service</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <meta name='keywords' content='FBK fbk trascrizione transcription riconoscimento vocale speech recognition asr' />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>


    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/lindat.css"/>
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link rel="stylesheet" type="text/css" href="../css/jqcloud.min.css" />

    <script src="../js/jquery.min.js"></script>
    <script src="../js/jqcloud.min.js"></script>


<!--  
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script> 
 -->
    <script src="../js/socket.io.js"></script>
    <script src="../js/Recorder.js"></script>
    <script src="../js/SpeechRecognition.js"></script>
    <script src="../js/main.js"></script>
    <script th:inline="javascript">
    /*<![CDATA[*/
    var apiResource = [[${apiResource}]];
    var apiUrl = [[${apiUrl}]];
    var modelLang = [[${mdl}]];
    var group = [[${group}]];
    /*]]>*/
    </script>
</head>

<body>


<div class="row">
    <div class="col col-md-6 text-center">
        <h3>Registrazione Audio</h3>
		<p class="">
		    <a id="start_recording" class="btn"><img src="../img/microphone.png" /></a>
		    <a id="stop_recording" class="btn btn-danger" style="display: none"><img src="../img/microphone_speech.png" /></a>
		</p>
    </div>
	<div class="col col-md-6">
		<h3>Caricamento Audio</h3>
		<form>
			<fieldset>
			    <br/> 
				<label>File Audio (wav)</label>    
				<input type="file" name="file" /> 
				<br/>
				<button id="uploadBtn" type="button" class="btn btn-primary">Caricare</button>
			</fieldset>
		</form>
	</div>
</div>    

<div>
    <canvas id="canvas" style="display: none; width: 100%; height: 100px"></canvas>
</div>

<div id="error" class="alert alert-danger text-center" role="alert" style="display: none"></div>
<div id="success" class="alert alert-success text-center" role="alert" style="display: none"></div>


<div class="well well-lg">
    <div id="result-evaluation" style="display: none"></div>
    <div id="result-dictation"></div>
</div>

<div id="keywords" style="margin: auto;">
</div>

</body>
</html>