<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ASR Service</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <meta name='keywords' content='FBK fbk trascrizione transcription riconoscimento vocale speech recognition asr' />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>


    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="css/lindat.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/jqcloud.min.css" />

    <script src="js/jquery.min.js"></script>
    <script src="js/jqcloud.min.js"></script>


<!--  
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script> 
 -->
    <script src="js/view.js"></script>
    <script th:inline="javascript">
    /*<![CDATA[*/
    var apiResource = [[${apiResource}]];
    var apiUrl = [[${apiUrl}]];
    var modelLang = [[${mdl}]];
    var group = [[${group}]];    
    /*]]>*/
    </script>
</head>

<body>
  <div class="container">
    <br/>
    <div class="well">
        <h2><a href="processor/sala1">Sala 1</a></h2>
    </div>
    <div class="well">
        <h2><a href="processor/sala2">Sala 2</a></h2>
    </div>
    <div class="well">
        <h2><a href="processor/mic">Stand FBK / Microfono aperto</a></h2>
    </div>
    <div class="well">
        <h2><a href="processor/interview">Interviste in strada</a></h2>
    </div>
  </div>  
</body>
</html>